body {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

#header {
  background-image: url('assets/img/image8.png');
  background-size: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
